.container {
  display: flex;
  justify-content: center;
  background-color: #5E8B7E;
  max-height: 800vh;
}

h1 {
  font-size: 40px;
  color: #810955;
}

.books {
  box-shadow: 10px 5px 5px 0px #fff;
}

h2 {
  color: #fff;
  font-size: 35px;
}

h3 {
  color: #fff;
  font-size: 30px;
}

.btn {
  padding: 10px;
  background-color: #BB371A;
  margin-top: 40px;
  border-radius: 5px;
  color: #fff;
  border: none;
}

button {
  padding: 10px;
  color: #BB371A;
  margin-top: 40px;
  border-radius: 5px;
  font-style: normal;
  border: none;
  font-size: medium;
  margin: 5px;
}

